*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{

  background-color: green;
  color: white;

}

div.container{

  display: flex;
  flex-direction: column;

  overflow: auto;

  width: 100vw;
  height: 100vh;

  padding: 20px;

  background-color: green;
  color: white;

}

h1{

  padding-bottom: 20px;

}

div.insert{

  padding-top: 20px;

}


.click{

  cursor: pointer;
}
